#### 1. Import pandas library

In [1]:
import pandas as pd
import numpy as np

#### 2. Import users table:

In [2]:
users = pd.read_csv('users_table.csv')

#### 3. Rename Id column to userId

In [3]:
users.rename(columns={'Id': 'userId'}, inplace= True)

#### 4. Import posts table:

In [4]:
posts = pd.read_csv('posts_table.csv')

#### 5. Rename Id column to postId and OwnerUserId to userId

In [5]:
posts.rename(columns= {'Id': 'postId', 'OwnerUserId': 'userId'}, inplace= True)

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [6]:
posts = posts[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]

In [7]:
users = users[['userId', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [8]:
users.dtypes

userId        int64
Reputation    int64
Views         int64
UpVotes       int64
DownVotes     int64
dtype: object

In [9]:
users.shape

(40325, 5)

In [10]:
posts.dtypes

postId            int64
Score             int64
userId          float64
ViewCount       float64
CommentCount      int64
dtype: object

In [11]:
posts.shape

(40000, 5)

In [12]:
users_posts = users.merge(posts, on='userId')

In [13]:
users_posts.shape

(38962, 9)

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [14]:
print(users_posts.isnull().sum())

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId              0
Score               0
ViewCount       23572
CommentCount        0
dtype: int64

In [15]:
print(posts.columns)

Index(['postId', 'Score', 'userId', 'ViewCount', 'CommentCount'], dtype='object')

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [16]:
print(users_posts['ViewCount'].value_counts())

98.0      43
150.0     43
122.0     42
156.0     41
108.0     41
          ..
2313.0     1
6113.0     1
3463.0     1
3531.0     1
3357.0     1
Name: ViewCount, Length: 3402, dtype: int64

In [27]:
users_posts.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0

In [18]:
posts[29670:29680]

       postId  Score   userId  ViewCount  CommentCount
29670   33165      4  12902.0      546.0             4
29671   33166      3  11032.0        NaN             0
29672   33167      3    601.0        NaN             0
29673   33168      3  10524.0        NaN            11
29674   33169      1  11032.0        NaN             2
29675   33170     11   3277.0        NaN             2
29676   33171      2   1390.0        NaN             1
29677   33172      6   9203.0      291.0             6
29678   33173      2  12904.0      133.0            12
29679   33174      2   8347.0     1022.0             3

In [19]:
#Check for zero values
ds_zeros = users_posts[users_posts == 0.0].count()
ds_zeros
ds_zeros[ds_zeros > 0]

Views            1150
UpVotes          6472
DownVotes       18036
Score            4652
CommentCount    14983
dtype: int64

In [28]:
#Check for one values
ds_ones = users_posts[users_posts == 1.0].count()
ds_ones
ds_ones[ds_ones > 1]

Reputation       707
Views           1189
UpVotes         1270
DownVotes       2242
Score           8030
CommentCount    6780
dtype: int64

In [20]:
print(users_posts['ViewCount'][users_posts['ViewCount'] == 0])

Series([], Name: ViewCount, dtype: float64)

In [21]:
# Studying the tables closely, I saw there are comments on post with NaN view counts, which I understand as an error, since comments are almost always done on something you already viewed. Therefore, one option would be deleting them.
# Also, I think both lists refer to what looks like a "reddit/forum like" database. Therefore, viewcounts equal zero are quite hard to see. So another option would be registering zero values to zero scores. 
# I would probaly keep those 2 scenarios, and get insights from those 2, compare them and keep whatever looks better / more correct. may be both!

In [24]:
users_posts.head()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0

In [34]:
users_posts = users_posts[users_posts['ViewCount'].notna()]

In [35]:
users_posts

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
123,5,6792,1145,662,5,6,152,29229.0,5
131,5,6792,1145,662,5,103,28,1990.0,6
133,5,6792,1145,662,5,125,75,29261.0,2
145,5,6792,1145,662,5,423,156,64481.0,7
150,5,6792,1145,662,5,562,10,1005.0,1
...,...,...,...,...,...,...,...,...,...
38956,44995,11,9,0,0,44474,1,446.0,1
38957,45934,11,1,0,0,34003,1,115.0,2
38958,46192,36,1,0,0,40667,5,326.0,2
38959,46522,235,13,27,1,17461,3,166.0,0
38960,52371,221,2,0,0,27237,24,3357.0,5

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [36]:
users_posts = users_posts.astype({'ViewCount': 'int64'})

In [37]:
users_posts.dtypes

userId          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
postId          int64
Score           int64
ViewCount       int64
CommentCount    int64
dtype: object