#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import users table:

In [2]:
users = pd.read_csv("./datasets/users_table.csv")
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

In [3]:
display(users.dtypes)

Id                   int64
Reputation           int64
CreationDate        object
DisplayName         object
LastAccessDate      object
WebsiteUrl          object
Location            object
AboutMe             object
Views                int64
UpVotes              int64
DownVotes            int64
AccountId            int64
Age                float64
ProfileImageUrl     object
dtype: object

#### 3. Rename Id column to userId

In [4]:
users = users.rename(columns = {'Id':'userId'})
print(users.columns)

Index(['userId', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl'],
      dtype='object')

In [5]:
users['userId'] = users['userId'].astype(float)
display(users.dtypes)

userId             float64
Reputation           int64
CreationDate        object
DisplayName         object
LastAccessDate      object
WebsiteUrl          object
Location            object
AboutMe             object
Views                int64
UpVotes              int64
DownVotes            int64
AccountId            int64
Age                float64
ProfileImageUrl     object
dtype: object

#### 4. Import posts table:

In [6]:
posts_table = pd.read_csv("./datasets/posts_table.csv")
posts_table.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

#### 5. Rename Id column to postId and OwnerUserId to userId

In [7]:
posts_table = posts_table.rename(columns = {'Id':'postId','OwnerUserId':'userId' })
print(posts_table.columns)

Index(['postId', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'userId', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

In [8]:
posts_table['ViewCount'] = posts_table['ViewCount'].fillna(0)

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [9]:
users2 = users[['userId', 'Reputation','Views','UpVotes','DownVotes']]
posts_table2 = posts_table[['postId', 'Score','userId','ViewCount','CommentCount']]

display(users2.shape)
display(users2.dtypes)
users2.head()

(40325, 5)

userId        float64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
dtype: object

   userId  Reputation  Views  UpVotes  DownVotes
0    -1.0           1      0     5007       1920
1     2.0         101     25        3          0
2     3.0         101     22       19          0
3     4.0         101     11        0          0
4     5.0        6792   1145      662          5

In [10]:
display(posts_table2.shape)
display(posts_table2.dtypes)
posts_table2.head()

(40000, 5)

postId            int64
Score             int64
userId          float64
ViewCount       float64
CommentCount      int64
dtype: object

   postId  Score  userId  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        0.0             3

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [11]:
merged_data = pd.merge(left = users2,
                       right = posts_table2,
                       how = 'inner', 
                       left_on = "userId", 
                       right_on= "userId")
display(merged_data.shape)
display(merged_data.dtypes)
merged_data.head()

(38962, 9)

userId          float64
Reputation        int64
Views             int64
UpVotes           int64
DownVotes         int64
postId            int64
Score             int64
ViewCount       float64
CommentCount      int64
dtype: object

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1.0,1,0,5007,1920,2175,0,0.0,0
1,-1.0,1,0,5007,1920,8576,0,0.0,0
2,-1.0,1,0,5007,1920,8578,0,0.0,0
3,-1.0,1,0,5007,1920,8981,0,0.0,0
4,-1.0,1,0,5007,1920,8982,0,0.0,0

In [12]:
merged_data.describe()

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
count,38962.000000,38962.000000,38962.000000,38962.000000,38962.000000,38962.000000,38962.000000,38962.000000,38962.000000
mean,6079.063087,7281.091679,1400.648016,914.799677,43.841050,22960.799651,4.083081,472.509573,2.014630
std,5224.896435,15164.527714,3423.886887,2296.527060,161.797079,13696.932471,6.561843,2423.961137,2.674018
min,-1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,-19.000000,0.000000,0.000000
25%,1317.000000,147.000000,16.000000,4.000000,0.000000,11325.250000,1.000000,0.000000,0.000000
50%,4856.000000,909.000000,124.000000,65.000000,1.000000,22373.500000,2.000000,0.000000,1.000000
75%,9651.000000,7931.000000,1050.000000,582.000000,16.000000,33688.500000,5.000000,253.000000,3.000000
max,55226.000000,87393.000000,20932.000000,11442.000000,1920.000000,48325.000000,192.000000,175495.000000,45.000000

In [13]:
merged_data.isnull().sum()

userId          0
Reputation      0
Views           0
UpVotes         0
DownVotes       0
postId          0
Score           0
ViewCount       0
CommentCount    0
dtype: int64

#### 8. How many missing values do you have in your merged dataframe? On which columns?

in fact I have many duplicate values, because when examining the data, we noticed that the UserId field used to merge both tables has different data type, so we must homogenize it first to be able to do the merging of the tables.

The data that we are using is a subset of the original and we are getting a warning that doesn't allow us to make the data type change. So, since there was no problem on changing the original data, we went to the original dataframe and changed the data type there.

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

Still not clear on how this 2 sets of data relate to each other, and if the UserID is acctually the correct field for the merge of them, we have some negative user ID that are appearing in the data, and also when we tried performing left join we get a bassically double the data set. I would try to get more insights in the information that is provided and what should we expect from each field before perfomrming any cleaning on it.

In [23]:
numeric = merged_data.select_dtypes(exclude=object)

Id_negatives = numeric[numeric < 0.0].count()
Id_negatives

userId          123
Reputation        0
Views             0
UpVotes           0
DownVotes         0
postId            0
Score           416
ViewCount         0
CommentCount      0
dtype: int64

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

Make sure first we have a clear insight of what expected in each field, and according to that first verify the data type we are getting. For instance here, for sure userId as int at least.