#### 1. Import pandas library

In [4]:
import pandas as pd

#### 2. Import users table:

In [17]:
users_table = pd.read_csv('C:\\Users\\carmo\\Desktop\\IronHack\\Week 2\\Day2\\lab-data-cleaning\\your-code\\datasets\\users_table.csv')

#### 3. Rename Id column to userId

In [18]:
users_table.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

In [19]:
users_table.rename(columns={'Id':'UserId'},inplace=True)
users_table.head()

,UserId,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

#### 4. Import posts table:

In [15]:
posts = pd.read_csv('C:\\Users\\carmo\\Desktop\\IronHack\\Week 2\\Day2\\lab-data-cleaning\\your-code\\datasets\\posts_table.csv')

#### 5. Rename Id column to postId and OwnerUserId to userId

In [9]:
posts.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

In [16]:
posts.rename(columns={'Id':'postId','OwnerUserId':'userId'},inplace=True)
posts.head()

,postId,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [20]:
user_columns = users_table[['UserId', 'Reputation','Views','UpVotes','DownVotes']]
posts_columns = posts[['postId', 'Score','userId','ViewCount','CommentCount']]

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [42]:
newdf = users_table.merge(posts, left_on='UserId', right_on='userId')

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [43]:
newdfnull = newdf.isnull().sum()

In [44]:
newdfnull[newdfnull>0]

DisplayName                  9
WebsiteUrl               21496
Location                 18057
AboutMe                  18488
Age                      24862
ProfileImageUrl          36137
AcceptedAnswerId         31813
ViewCount                23572
Body                       115
Title                    23572
Tags                     23572
AnswerCount              23572
FavoriteCount            31906
LastEditorUserId         19624
LastEditDate             19434
CommunityOwnedDate       37136
ParentId                 15923
ClosedDate               38451
OwnerDisplayName         38224
LastEditorDisplayName    38753
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [27]:
#since there are columns with few errors and columns with more than 30000 thousand, I'm going to drop all columns with more than 10000 to make my data a bit cleaner and easier to handle.

In [46]:
newdfnull[newdfnull>10000]
list(newdfnull[newdfnull>10000].index)

['WebsiteUrl',
 'Location',
 'AboutMe',
 'Age',
 'ProfileImageUrl',
 'AcceptedAnswerId',
 'ViewCount',
 'Title',
 'Tags',
 'AnswerCount',
 'FavoriteCount',
 'LastEditorUserId',
 'LastEditDate',
 'CommunityOwnedDate',
 'ParentId',
 'ClosedDate',
 'OwnerDisplayName',
 'LastEditorDisplayName']

In [51]:
newdfdropped = newdf.drop(list(newdfnull[newdfnull>10000].index),axis=1)
newdfdropped[newdfdropped['Body'].isnull()]

,UserId,Reputation,CreationDate,DisplayName,LastAccessDate,Views,UpVotes,DownVotes,AccountId,postId,PostTypeId,CreaionDate,Score,Body,userId,LasActivityDate,CommentCount
1,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,8576,5,2011-03-21 17:40:28,0,NaN,-1.0,2011-03-21 17:40:28,0
2,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,8578,5,2011-03-21 17:46:43,0,NaN,-1.0,2011-03-21 17:46:43,0
5,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,9857,3,2011-04-22 06:59:10,0,NaN,-1.0,2011-04-22 06:59:10,0
7,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,9860,5,2011-04-22 07:09:42,0,NaN,-1.0,2011-04-22 07:09:42,0
8,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,0,5007,1920,-1,10130,3,2011-04-29 00:18:02,0,NaN,-1.0,2011-04-29 00:18:02,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7938,919,87393,2010-08-13 15:29:47,whuber,2014-09-14 00:51:49,20932,11273,779,449752,20696,5,2012-01-07 01:57:19,0,NaN,919.0,2012-01-07 01:57:19,0
8177,919,87393,2010-08-13 15:29:47,whuber,2014-09-14 00:51:49,20932,11273,779,449752,44277,5,2012-11-23 15:07:06,0,NaN,919.0,2012-11-23 15:07:06,0
8590,930,31170,2010-08-13 20:50:47,chl,2014-09-13 20:53:41,5529,10523,214,184175,18646,5,2011-11-19 21:28:00,0,NaN,930.0,2011-11-19 21:28:00,0
8612,930,31170,2010-08-13 20:50:47,chl,2014-09-13 20:53:41,5529,10523,214,184175,21877,4,2012-01-28 19:47:12,0,NaN,930.0,2012-01-28 19:47:12,0
8644,930,31170,2010-08-13 20:50:47,chl,2014-09-13 20:53:41,5529,10523,214,184175,34123,5,2012-08-11 09:28:51,0,NaN,930.0,2012-08-11 09:28:51,0

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?