#### 1. Import pandas library

In [3]:
import pandas as pd

#### 2. Import users table:

In [4]:
users = pd.read_csv('users_table.csv')

#### 3. Rename Id column to userId

In [5]:
users.rename(columns = {'Id':'userId'}, inplace = True)

#### 4. Import posts table:

In [6]:
posts = pd.read_csv('posts_table.csv')

#### 5. Rename Id column to postId and OwnerUserId to userId

In [7]:
posts.rename(columns = {'Id':'postId', 'OwnerUserId':'userId'}, inplace = True)

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [8]:
users_2 = users[['userId', 'Reputation', 'Views', 'UpVotes' , 'DownVotes']]
posts_2 = posts[['postId', 'Score', 'userId', 'ViewCount', 'CommentCount']]

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [15]:
merged_databases = pd.merge(left = users_2,
                            right = posts_2,
                            how = 'left',
                            left_on = 'userId',
                            right_on= 'userId')

In [26]:
display(merged_databases)

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175.0,0.0,NaN,0.0
1,-1,1,0,5007,1920,8576.0,0.0,NaN,0.0
2,-1,1,0,5007,1920,8578.0,0.0,NaN,0.0
3,-1,1,0,5007,1920,8981.0,0.0,NaN,0.0
4,-1,1,0,5007,1920,8982.0,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...
71144,55743,1,0,0,0,NaN,NaN,NaN,NaN
71145,55744,6,1,0,0,NaN,NaN,NaN,NaN
71146,55745,101,0,0,0,NaN,NaN,NaN,NaN
71147,55746,106,1,0,0,NaN,NaN,NaN,NaN
71148,55747,1,0,0,0,NaN,NaN,NaN,NaN

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [17]:
merged_databases.isnull().sum()

userId              0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
postId          32187
Score           32187
ViewCount       55759
CommentCount    32187
dtype: int64

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

It appears that many of these missing values are due to lack of information related to the posts (not everybody made a post, in the first place, and, in addition, the view count it is not always available). In this case, in order to keep the information, we will fill the missing values with zero.

In [27]:
merged_databases[['postId', 'Score', 'ViewCount','CommentCount']] = merged_databases[['postId', 'Score', 'ViewCount','CommentCount']].fillna(0)

In [28]:
merged_databases

,userId,Reputation,Views,UpVotes,DownVotes,postId,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175.0,0.0,0.0,0.0
1,-1,1,0,5007,1920,8576.0,0.0,0.0,0.0
2,-1,1,0,5007,1920,8578.0,0.0,0.0,0.0
3,-1,1,0,5007,1920,8981.0,0.0,0.0,0.0
4,-1,1,0,5007,1920,8982.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
71144,55743,1,0,0,0,0.0,0.0,0.0,0.0
71145,55744,6,1,0,0,0.0,0.0,0.0,0.0
71146,55745,101,0,0,0,0.0,0.0,0.0,0.0
71147,55746,106,1,0,0,0.0,0.0,0.0,0.0
71148,55747,1,0,0,0,0.0,0.0,0.0,0.0

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [31]:
merged_databases[['postId', 'Score', 'ViewCount','CommentCount']] = merged_databases[['postId', 'Score', 'ViewCount','CommentCount']].astype('int64')

In [33]:
merged_databases.dtypes

userId          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
postId          int64
Score           int64
ViewCount       int64
CommentCount    int64
dtype: object